{
    "version": 6,
    "cmakeMinimumRequired": {
        "major": 3,
        "minor": 25,
        "patch": 0
    },
    "configurePresets": [
        {
            "name": "debug",
            "displayName": "Debug",
            "generator": "Ninja",
            "binaryDir": "${sourceDir}/build/debug",
            "toolchainFile": "${sourceDir}/build/conan/Debug/conan_toolchain.cmake",
            "cacheVariables": {
                "CMAKE_BUILD_TYPE": "Debug",
                "BUILD_TESTING": "ON"
            }
        },
        {
            "name": "release",
            "displayName": "Release",
            "generator": "Ninja",
            "binaryDir": "${sourceDir}/build/release",
            "toolchainFile": "${sourceDir}/build/conan/Release/conan_toolchain.cmake",
            "cacheVariables": {
                "CMAKE_BUILD_TYPE": "Release",
                "BUILD_TESTING": "OFF"
            }
        },
        {
            "name": "coverage",
            "displayName": "Coverage",
            "generator": "Ninja",
            "binaryDir": "${sourceDir}/build/coverage",
            "toolchainFile": "${sourceDir}/build/conan/Debug/conan_toolchain.cmake",
            "cacheVariables": {
                "CMAKE_BUILD_TYPE": "Debug",
                "BUILD_TESTING": "ON",
                "ENABLE_COVERAGE": "ON"
            }
        },
        {
            "name": "sanitize",
            "displayName": "Sanitizers",
            "generator": "Ninja",
            "binaryDir": "${sourceDir}/build/sanitize",
            "toolchainFile": "${sourceDir}/build/conan/Debug/conan_toolchain.cmake",
            "cacheVariables": {
                "CMAKE_BUILD_TYPE": "Debug",
                "BUILD_TESTING": "ON",
                "ENABLE_SANITIZERS": "ON"
            }
        }
    ],
    "buildPresets": [
        {
            "name": "debug",
            "configurePreset": "debug"
        },
        {
            "name": "release",
            "configurePreset": "release"
        },
        {
            "name": "coverage",
            "configurePreset": "coverage"
        },
        {
            "name": "sanitize",
            "configurePreset": "sanitize"
        }
    ],
    "testPresets": [
        {
            "name": "debug",
            "configurePreset": "debug",
            "output": {
                "outputOnFailure": true,
                "verbosity": "verbose"
            }
        },
        {
            "name": "coverage",
            "configurePreset": "coverage",
            "output": {
                "outputOnFailure": true,
                "verbosity": "verbose"
            }
        },
        {
            "name": "sanitize",
            "configurePreset": "sanitize",
            "output": {
                "outputOnFailure": true,
                "verbosity": "verbose"
            }
        }
    ]
}
