#include "{{project_name}}/app.hpp"

#include <string_view>

namespace {{project_name | replace('-', '_')}} {

auto greet() -> std::string_view {
    return "Hello from {{project_name}}!";
}

auto run() -> int {
    return 0;
}

}  // namespace {{project_name | replace('-', '_')}}
