package {{package_slug}}

import org.assertj.core.api.Assertions.assertThatCode
import org.junit.jupiter.api.Test

/** Tests for [main]. */
class MainTest {
    @Test
    fun mainRunsWithoutError() {
        assertThatCode { main() }.doesNotThrowAnyException()
    }
}
