set positional-arguments
set windows-shell := ["powershell.exe", "-NoProfile", "-Command"]
bootstrap := if os() == "windows" {
    "powershell.exe -NoProfile -ExecutionPolicy Bypass -File tools/bootstrap.ps1"
} else {
    "sh tools/bootstrap.sh"
}

_default:
    @just help

help:
    @{{ '{{ bootstrap }}' }} help

check:
    @{{ '{{ bootstrap }}' }} check

init: check
    @{{ '{{ bootstrap }}' }} init

destroy:
    @{{ '{{ bootstrap }}' }} destroy

build:
    @{{ '{{ bootstrap }}' }} build

assemble:
    @{{ '{{ bootstrap }}' }} assemble

code-style:
    @{{ '{{ bootstrap }}' }} code-style

code-source:
    @{{ '{{ bootstrap }}' }} code-source

code-vendor:
    @{{ '{{ bootstrap }}' }} code-vendor

code-object:
    @{{ '{{ bootstrap }}' }} code-object

code-architecture:
    @{{ '{{ bootstrap }}' }} code-architecture

code-security:
    @{{ '{{ bootstrap }}' }} code-security

test:
    @{{ '{{ bootstrap }}' }} test

test-unit:
    @{{ '{{ bootstrap }}' }} test-unit

test-state:
    @{{ '{{ bootstrap }}' }} test-state

test-cli:
    @{{ '{{ bootstrap }}' }} test-cli

coverage:
    @{{ '{{ bootstrap }}' }} coverage

selftest:
    @{{ '{{ bootstrap }}' }} selftest

ci-quiet:
    @{{ '{{ bootstrap }}' }} ci-quiet

ci:
    @just check
    @{{ '{{ bootstrap }}' }} ci

[unix]
run *args:
    @sh tools/bootstrap.sh run "$@"

[windows]
[script("powershell.exe", "-NoProfile", "-ExecutionPolicy", "Bypass", "-File")]
run *args:
    & .\tools\bootstrap.ps1 run @args
    exit $LASTEXITCODE

[unix]
debug *args:
    @sh tools/bootstrap.sh debug "$@"

[windows]
[script("powershell.exe", "-NoProfile", "-ExecutionPolicy", "Bypass", "-File")]
debug *args:
    & .\tools\bootstrap.ps1 debug @args
    exit $LASTEXITCODE
