(ns {{namespace_name}}.application.greeting-service
  (:require [{{namespace_name}}.domain.greeting :as greeting]))

(defn create-greeting
  "Create a validated greeting for the recipient."
  [recipient]
  (greeting/create recipient))
